body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 95px;
    width: 100vw;
    background-color: white;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

#initials {
    font-family: "Londrina_Shadow";
    font-size: 48px;
    padding-left: 47px;
    padding-top: 28px;
    padding-bottom: 14px;
}

nav {
    font-family: "Manrope";
    font-size: 24px;
    margin-left: auto;
    padding-right: 48px;
    padding-top: 33px;
    display: flex;
    gap: 97px;
}

nav a {
    text-decoration: none;
}

main {
    flex: 1;
}

footer {
    height: 242px;
    background-color: white;
    margin-top: auto;
}

footer h2 {
    font-family: "Londrina_Solid";
    font-size: 48px;
    color: #570000;
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 43px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    padding: 14px 24px;
    text-decoration: none;
    font-family: "Manrope";
    font-size: 14px;
}

#mailButton {
    background-color: #F1A9C1;
    color: white;
}

#linkedinButton {
    border: 2px solid #F1A9C1;
    color: #F1A9C1;
}


#mainHome {
    background-color: #FFD5E3;
}


#homePicture {
    height: 224px;
    width: 249px;
    display: flex;
    padding-right: 60px;
}

#homeTop {
    position: relative;
    height: 350px;
}

#homeBottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "Manrope";
    font-size: 24px;
    color: #570000;
    padding-left: 26px;
}


#firstName {
    font-family: "Londrina_Shadow";
    font-size: 160px;
    color: #570000;
    position: absolute;
    top: 40px;
    left: 200px;
    margin: 0;
}

#lastName {
    font-family: "Londrina_Solid";
    font-size: 160px;
    color: #570000;
    position: absolute;
    top: 170px;
    left: 488px;
    margin: 0;
}




nav a:visited,
nav a:active,
nav a:hover {
    color: inherit;
}


@font-face {
    font-family: "Londrina_Shadow";
    src: url("fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Londrina_Solid";
    src: url("fonts/Londrina_Solid/LondrinaSolid-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
    src: url("fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}