body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 75px;
    width: 100vw;
    background-color: white;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

#initials {
    font-family: "Londrina_Shadow";
    font-size: 48px;
    padding-left: 47px;
    padding-top: 17px;
    padding-bottom: 14px;
}

nav {
    font-family: "Manrope";
    font-size: 18px;
    margin-left: auto;
    padding-right: 48px;
    padding-top: 30px;
    display: flex;
    gap: 97px;
}

nav a {
    text-decoration: none;
}

main {
    flex: 1;
}

footer {
    height: 242px;
    background-color: white;
    margin-top: auto;
}

footer h2 {
    font-family: "Londrina_Solid";
    font-size: 48px;
    color: #570000;
    display: flex;
    justify-content: center;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 43px;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    padding: 14px 24px;
    text-decoration: none;
    font-family: "Manrope";
    font-size: 14px;
}

#mailButton {
    background-color: #F1A9C1;
    color: white;
}

#linkedinButton {
    border: 2px solid #F1A9C1;
    color: #F1A9C1;
}


#home {
    background-color: #FFD5E3;
}


#homePicture {
    height: 224px;
    width: 249px;
    display: flex;
    padding-right: 60px;
}

#homeTop {
    position: relative;
    height: 350px;
}

#homeBottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: "Manrope";
    font-size: 24px;
    color: #570000;
    padding-left: 26px;
}


#firstName {
    font-family: "Londrina_Shadow";
    font-size: 160px;
    color: #570000;
    position: absolute;
    top: 40px;
    left: 200px;
    margin: 0;
}

#lastName {
    font-family: "Londrina_Solid";
    font-size: 160px;
    color: #570000;
    position: absolute;
    top: 170px;
    left: 488px;
    margin: 0;
}

#projects {
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

#projects h2 {
    font-family: "Manrope";
    font-size: 36px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.projectCard {
    width: 90vw;
    height: 244px;
    background-color: #EABDCC80;
    border-radius: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

#projects h3 {
    font-family: "Londrina_Solid";
    font-size: 64px;
    color: #570000;
    margin: 0;
    padding-top: 15px;
}

#projects p {
    font-family: "Manrope";
    font-size: 24px;
    margin-top: 5px;
    color: #570000;

}

.tag {
    background-color: #F1A9C1;
    color: #570000;
    padding: 7px 16px;
    border-radius: 50px;
    font-family: "Manrope";
}

.projectInfo>.tags {
    margin: 0;
}

.projectCard img {
    width: 254px;
    height: 170px;
    object-fit: cover;
    border-radius: 16px;
    margin-right: 37px;
}

.viewProjectLink {
    color: #570000;
    text-decoration: none;
    font-family: "Manrope";
    margin-top: 18px;
    margin-bottom: 25px;
    display: block;
}

#mainSpotya {
    display: flex;
    flex-direction: column;
}


#mainSpotya h1 {
    font-family: "Londrina_Solid";
    font-size: 76px;
    color: #570000;
    text-align: center;
    margin-bottom: 0;
}

.tagline {
    font-family: "Manrope";
    font-size: 24px;
    color: #570000;
    text-align: center;
}

#mainSpotya>.tags {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.heroBox {
    width: 783px;
    height: 472px;
    background-color: #F1A9C1B3;
    border-radius: 20px;
    margin: auto;
    margin-top: 13px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 70px;
}

#spotyaHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

#mainSpotya h2 {
    font-family: "Manrope";
    font-size: 32px;
    color: #570000;
    font-weight: lighter;
    padding-left: 182px;
}

#mainSpotya section p {
    font-family: "Manrope";
    padding-left: 182px;
    width: 550px;
    letter-spacing: 0.8px;
}

#mainSpotya h3 {
    font-family: "Manrope";
    font-size: 20px;
    color: #570000;
    font-weight: lighter;
    padding-left: 182px;
}

section .tags {
    margin-left: 182px;
    margin-bottom: 30px;
    display: flex;
    gap: 11px;
}

.wireframeGrid {
    width: 1200px;
    height: 300px;
    background-color: #EABDCC80;
    border-radius: 20px;
    margin: auto;
    display: flex;
    padding: 23px;
    gap: 125px;
    margin-bottom: 50px;
}

.wireframeGrid img {
    border-radius: 20px;
}

.resultsGrid {
    width: 1200px;
    height: 300px;
    background-color: #EABDCC80;
    border-radius: 20px;
    margin: auto;
    display: flex;
    padding: 23px;
    gap: 125px;
    margin-bottom: 50px;
}

.resultsGrid img {
    border-radius: 20px;
}

.projectNav {
    font-family: "Manrope";
    font-size: 16px;
    color: #570000;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    gap: 0;
    padding-right: 0;
    padding-top: 20px;
    border-top: 2px solid #F1A9C1;
}

.projectNav a {
    color: inherit;
    text-decoration: none;
}



#mainRavelinq {
    display: flex;
    flex-direction: column;
}


#mainRavelinq h1 {
    font-family: "Londrina_Solid";
    font-size: 76px;
    color: #570000;
    text-align: center;
    margin-bottom: 0;
}


#mainRavelinq>.tags {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.heroBox {
    width: 783px;
    height: 472px;
    background-color: #F1A9C1B3;
    border-radius: 20px;
    margin: auto;
    margin-top: 13px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 70px;
}

#ravelinqHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

#mainRavelinq h2 {
    font-family: "Manrope";
    font-size: 32px;
    color: #570000;
    font-weight: lighter;
    padding-left: 182px;
}

#mainRavelinq section p {
    font-family: "Manrope";
    padding-left: 182px;
    width: 550px;
    letter-spacing: 0.8px;
}

#mainRavelinq h3 {
    font-family: "Manrope";
    font-size: 20px;
    color: #570000;
    font-weight: lighter;
    padding-left: 182px;
}

#mainRavelinq .resultsGrid {
    width: 1000px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#mainRavelinq .resultsGrid p {
    font-family: "Manrope";
    font-size: 32px;
    font-weight: lighter;
    color: #570000;
    margin: 0;
    align-self: flex-start;
    padding-left: 23px;
}

#mainRavelinq .resultsGrid img {
    width: 100%;
    border-radius: 20px;
}

#mainRavelinq .resultsGrid video {
    width: 100%;
    border-radius: 20px;
}

nav a:visited,
nav a:active,
nav a:hover {
    color: inherit;
}


@font-face {
    font-family: "Londrina_Shadow";
    src: url("fonts/Londrina_Shadow/LondrinaShadow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Londrina_Solid";
    src: url("fonts/Londrina_Solid/LondrinaSolid-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";
    src: url("fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}